body{
    width: 100vw;

    margin: 0;
    padding: 0;
    background-color: black;
}
/*Propiedades Barra Nav*/
nav{
    background-color: black;
    width: 100vw;
}

.nav-link{
    font-size: 1rem;
}

/*Propiedades index.html*/

video{
    filter: grayscale(100%);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}


.texto{
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
}

.textos{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 2em;
}

#img-texto{
    width: 45vw;
    padding: 0em 2em 0em 2em;

}

.text-center{
    padding: 1.5em;
    font-size: 3em;
    background-color: black;
    color: rgb(128, 128, 128);
}

/*
Propiedades cabecera que no decido si poner o no.

.imgCabeceraVino{
    display: flex;
    justify-content: center;
    background-color: rgb(28, 26, 26);
    width: 100vw;
}

#bebidaCabecera{
    width: 50vh;
    margin: 0;
    filter: grayscale(100%);
}
*/

/*Propiedades cards*/

.card {
    margin: 0em;
    padding: 2em;
}

.card-body {
    font-size: 1em; 

}

.precio{
    font-size: 2em;
}