body {
    width: 100vw;

    margin: 0;
    padding: 0;
    background-color: black;
}

/*Estilos Barra Nav*/
nav {
    background-color: black;
    width: 100vw;
}

.nav-link {
    font-size: 1rem;
}

/*Estilos index.html*/

video {
    filter: grayscale(100%);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}


.texto {
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
}

.textos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    padding: 0em;
}

#img-texto {
    width: 45vw;
    padding: 0em 2em 0em 2em;

}

.text-center {
    padding: 1.5em;
    font-size: 2em;
    background-color: black;
    color: rgb(128, 128, 128);
}

.reserva-cabecera{
    display:flex;
    justify-content: center;
}

#sueca{
    padding: 0em 0em 3em 0em;
    color: white;
}


/*
Propiedades cabecera que no decido si poner o no.

.imgCabeceraVino{
    display: flex;
    justify-content: center;
    background-color: rgb(28, 26, 26);
    width: 100vw;
}

#bebidaCabecera{
    width: 50vh;
    margin: 0;
    filter: grayscale(100%);
}
*/

/*Estilos cards*/

.card {
    margin: 0em;
    padding: 2em;
}

.card-body {
    font-size: 1em;
}

.card-title {
    font-size: 1.7em;
}

.precio {
    font-size: 1.5em;
}

.productos {
    margin: 1.5em 0em 1.5em 0em;
}


/*Estilos sección Reservas*/

.form {
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
}

.reserva {
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
}

h2 {
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 1em;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.2em;
    border: 0.2em solid #ccc;
    border-radius: 0.5em;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    margin-top: 1em;
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: rgba(44, 47, 44, 0.766);
}

p {
    margin-top: 10px;
}

/*Estilos Sección Reserva*/

.cabecera {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}